body {
  background: black;
}
.calculation {
  color: white;
  font-size: 40px;
  margin: 20px;
}
button {
  background-color: rgb(53, 50, 50);
  color: aliceblue;
  border: none;
  font-size: 26px;
  width: 60px;
  height: 60px;
  padding: 0;
  border-radius: 50%;
  margin-right: 5px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
button:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}
.symbol {
  font-size: 30px;
  background-color: rgb(183, 120, 10);
}
.clear-btn {
  background-color: rgb(53, 50, 50);
  color: white;
  font-size: 18px;
  width: 60px;
  height: 60px;
  padding: 0;
  border-radius: 50px;
  cursor: pointer;
}
