.toggle-button {
  background-color: #292c29;
  border: 1px solid #292c29;
  border-radius: 5px;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.toggled {
  background-color: rgb(156, 151, 151);
  color: black;
  border: none;
}
